:root {
    
    --main-bg-color: #070d1be6;
    --main-text-color: #ffffff;
    --main-heading-color: #f4f4f4;
    --primary-color: #007bff;
    --m-silver: #c0c0c0;
    --main-white: #ffffff;
    --extra-color: #ff6347;
    // Define your variables
// // Define your variables
$primary-dark: #0f172a;
$text-light: #ffffff;
$accent-yellow: #facc15;
$accent-orange: #f59e0b;
$background-dark: #1e293b;
$background-light: #334155;
$text-secondary: #cbd5e1;

}